div.flex_column {
    display: flex;
    flex-direction: column;
    height: 100%;
}
div.flex_row {
    display: flex;
    flex-direction: row;
}
div.center {
    justify-content: center;
}

table {
    text-align: center;
}

div.rate div.flex_row {
    justify-content: space-between;
}
div.level_up div.flex_row {
    justify-content: space-between;
}