div.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.flex-row {
    display: flex;
    flex-direction: row;
}

div.center {
    justify-content: center;
}

table {
    text-align: center;
}

div.rate div.flex-row,
div.level_up div.flex-row {
    justify-content: space-between;
}