body {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
}

.text-left {
    text-align: left;
}

div.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.flex-row {
    display: flex;
    flex-direction: row;
    min-width: 320px;
}

div.center {
    justify-content: center;
}

table {
    text-align: center;
}

div.rate div.flex-row,
div.level-up div.flex-row {
    justify-content: space-between;
}

.item-quest-container {
    list-style: none;
    padding-left: 0;
}

img {
    vertical-align: middle;
}

table {
    min-width: 320px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table thead tr th,
table tbody tr td {
    border: 1px solid gray;
    padding: .1rem 1rem;
}